@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  --background-color: #01002a;
  --primary-color: #fed700;
  --hr-color: #c4c4c4;
  --font-family: 'Montserrat', sans-serif;
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #01002a;
}


[data-theme="light"] {
  --background: #ffffff;
  --accent-color1: #000000;
  --accent-color2: #eeeeee;
  --accent-color3: #777777;
  --card-color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  padding: 2rem 4rem;


}

/* PHONEBOOK STYLE */



.contacts-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.contact-container {
  display: grid;
  grid-gap: 1rem;
  /* fit as many columns in the row */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact {
  border: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, var(--primary-color), var(--orange));
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact .contact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.contact-header span {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-align: center;
  margin-right: 5rem;
}



.contact-header img {
  width: 4rem;
  border-radius: 1.5rem;

}

/* NEW CONTACT */
.contact.new {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact.new .inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact input {
  border: none;
  padding: 0.3rem;
  width: 50vw;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: var(--accent-color1);
}

.contact input:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  overflow: hidden;
  transition: all ease-in-out 0.7s;
  -webkit-transition: all ease-in-out 0.7s;
  -moz-transition: all ease-in-out 0.7s;
  -ms-transition: all ease-in-out 0.7s;
  -o-transition: all ease-in-out 0.7s;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 75%;
  height: 10%;
}

.contact input:focus {
  outline: none
}

.contact .contact-footer {
  margin-top: 0.5rem;
}

.contact .contact-footer p {
  padding-bottom: 0.5rem;
  margin-left: 0.5rem
}

.delete-icon {
  width: 1.5rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.span-date {
  margin-top: 0.5rem;
  border-top: 2px solid black;
}

.save-list-footer {
  display: flex;
  justify-content: center;

}

.save {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, var(--primary-color), var(--orange));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--background) inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;


}


.save:hover {
  box-shadow: none;
  color: #333;
  font-weight: bold;
  border: 2px solid var(--background);
  font-weight: bolder;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.male {
  width: 64px;
}

.female {
  width: 64px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }


}



::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}